@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin text-gradient {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text; // it makes the background visible only where the text is
  color: transparent; // to be able to see the background gradient. If not, de text will cover it.
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/* 
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet landscape
[1200 - 1800]:   Normal styles apply  
1800px +:        Big desktop
*/

/* 
$breakpoint arguement choices: 
- phone
- tab-port
- tab-land
- big-desktop
*/

// Media querys are not affected by html font-size
// rems don't work well
// 1em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
